version: "3.9"

# Remember, port on left is host port, port on right is container port
services:
  spanish-tutor-api:
    build: .
    container_name: spanish-tutor-api
    command: uvicorn spanishtutor.src.api.app:app --host 0.0.0.0 --port 8000
    ports:
      - "${API_PORT:-8000}:8000"
    environment:
      - LLM_BASE_URL=${LLM_BASE_URL}
      - LLM_API_KEY=${LLM_API_KEY}
      - PORT=${API_PORT}
    depends_on:
      - prometheus

  spanish-tutor-ui:
    build: .
    container_name: spanish-tutor-ui
    command: python -m spanishtutor.src.main
    ports:
      - "7860:7860"
    environment:
      - API_URL=${API_URL}
    depends_on:
      - spanish-tutor-api

  prometheus:
    image: prom/prometheus
    container_name: prometheus
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
    ports:
      - "${PROMETHEUS_HOST_PORT}:9090" 

  grafana:
    image: grafana/grafana
    container_name: grafana
    ports:
      - "${GRAFANA_HOST_PORT}:3000"
    volumes:
      - grafana-storage:/var/lib/grafana
    depends_on:
      - prometheus

volumes:
  grafana-storage:
